/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the pipeline on  uman Technopole cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
        nextflow run EmanuelSoda/spatialtranscriptomics -profile server_ht --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

singularity.enabled = true
singularity.autoMounts = true
process.container = '/group/glastonbury/singularity-images/spatialtranscriptomics_latest.sif'
singularity.runOptions = ' --bind /group/ '
process.executor = 'slurm'
process.clusterOptions = ' --partition=cpuq ‐‐mail-user `whoami`@fht.org '
process.maxRetries = 5


// env {
//     PATH='$PATH:/hpcnfs/software/singularity/2.5.1/bin/:/hpcnfs/software/anaconda/anaconda3/bin/'
// }

params {
  // Limit resources so that this can run on GitHub Actions
  config_profile_name        = 'Config for server Human Technopole'
  config_profile_description = 'Config for server Human Technopole'
  max_cpus = 50
  max_memory = 100.GB
  max_time = 800.h
}
